html{
  background-color: #FCEEF2;
}

body{
  font-family: 'Playfair Display'
}

.text-align{
  text-align: center;
}
/* HEADER EDITS: own background color, customize links */

.brown-liner, footer{
  background-color: #231705;
  color: white;
  font-size: 80%;
  padding: 2%;
  margin-top: -15px;
  }
h1{
  font-size: 300%;
}


/* main content; on seasalt backgorund(wrapper???), color headings, color paragraphs
round images???? want the texas images to sit next to eachother */
.seasalt-back{
  background-color: #FCFAF8;
}
h1, h2{
  color: #1C0F13;
}

.img1{
  width: 200px;
}
.img2{
  width: 200px;
  margin: 10px;
  border-radius: 50%;
  height: 200px;
}
/* links have pink colors in customizing, maybe make a button????? */
a:link{color: #A53860 ;}
a:visited{color: #7A0045 ;}
a:hover{color: #FF2EA5 ;}
a:active{color: #AF4D98 ;}
